body{
    margin: 0px 0px 0px 0px;
}
.containerInfo{
    background-color:black ;
}
.links{
    width: 300px;
    height: 20px;
    margin: 0px 0px 20px 900px;
    padding: 15px 10px 15px 10px ;
}
.infoPerso{
    color: white;
    padding: 20px 20px 20px 20px;
}
.arrayRandom{
    width: 50%;
    margin:50px 0px 0px 400px;
}
.inputs{
    width: 300px;
}
.centerBoton{
    margin:auto ;
    width: 30%;
}
/* estilos botones */
.botones{
    padding: 10px 25px 10px 25px;
}
.boton1{
    font-size: 20px;
    margin: 40px 0px 20px 0px ;
}
.containerResultado{
    margin: 20px 20px 0px 20px;
    border: solid;
    border-color: black;
    border-radius: 5px;
}
.resultado{
    width: 100%;
    padding: 0px 0px 0px 10px;
}