body{
    margin: 0px 0px 0px 0px;
}
.containerInfo{
    color: white;
    background-color: black;
    display: flex;
    height: 60px;
}
.links{
    margin: 10px 0px 10px 1000px;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.link{
    color: white;
    padding: 20px 30px 20px 30px;
    margin: 10px 0px 0px 0px ;
}
.arrayRandom{
    width: 50%;
    margin:50px 0px 0px 400px;
}
.inputs{
    width: 300px;
}
.centerBoton{
    margin:auto ;
    width: 30%;
}
/* estilos botones */
.botones{
    padding: 10px 25px 10px 25px;
}
.boton1{
    font-size: 20px;
    margin: 40px 0px 20px 0px ;
}
.containerResultado{
    margin: 20px 20px 0px 20px;
    border: solid;
    border-color: black;
    border-radius: 5px;
}
.resultado{
    width: 100%;
    padding: 0px 0px 0px 10px;
}