body{
    margin: 0px 0px 0px 0px;
}
.containerInfo{
    color: white;
    background-color: black;
    display: flex;
    height: 60px;
}
.ovalo{
    height: 40px;
    width: 150px;
    background-color: #b90c0c;
    border-radius: 50%;
    margin: 10px 0px 0px 30px;
}
.Nombre{
    margin: 10px 0px 20px -70px;
    padding-top:5px ;
    letter-spacing: 2px;
    font-size: 20px;
}
.circulo{
    width: 35px;
    height: 35px;
    background-color:#3cd30c;
    border-radius: 50%;
    margin: 10px 0px 0px 100px;
}
.links{
    margin: 20px 0px 10px 800px;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.link{
    color: white;
    padding: 20px 30px 20px 30px;
    margin: 10px 0px 0px 0px ;
}
.arrayRandom{
    width: 50%;
    margin:50px 0px 0px 400px;
}
.inputs{
    width: 300px;
}
.centerBoton{
    margin:auto ;
    width: 30%;
}
/* estilos botones */
.botones{
    padding: 10px 25px 10px 25px;
    background-color:black;
    color: white;
}
.boton1{
    font-size: 20px;
    margin: 40px 0px 20px 0px ;
}
.containerResultado{
    margin: 20px 20px 0px 20px;
    border: solid;
    border-color: black;
    border-radius: 5px;
}
.resultado{
    width: 100%;
    padding: 0px 0px 0px 10px;
}